@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@232&family=Open+Sans:wght@300&display=swap');

html, body {
    max-width: 100%;
    overflow-x: hidden;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.background{
    background-color: #000000;
}

li, a{
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 1rem;
    color: #ffffff;
    text-decoration: none;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    left: 100px;
    background-color: rgb(0, 0, 0);
}

img.navimg{
    display: flex;
    justify-content: flex-end;
    height: 1.7rem;
    width: 2.4rem;
    background-color: rgb(0, 0, 0);
}

.nav__links{
    list-style: none;
    background-color: rgb(0, 0, 0);
}

.nav__links li{
    display: inline-block;
    padding: 0px 20px;
    align-self: left;
    background-color: rgb(0, 0, 0);
}

.nav__links li a{
    transition: all 0.3s ease 0s;
    background-color: rgb(0, 0, 0);
}

.nav__links li a:hover{
    background-color: rgb(0, 0, 0);
    color: aqua;
}

.Lumosmid a{
    transition: all 0.3s ease 0s;
    font-size: 200%;
    text-align: center;
    background-color: rgb(0, 0, 0);
}

.Lumosmid a:hover{
    color: red;
    background-color: rgb(0, 0, 0);
    font-size: 250%;
}

.wrapper *{
    background-color: black;
}

.blackimg{
    float:left;
    padding-right: 30px;
}

.textwrapper{
    font-family: 'Open Sans';
    font-size: calc(100vw / 50);
    color: white;
    float:left;
    padding-top: 7.5rem;
    padding-left: 5rem;
    padding-right: 15rem;
    padding-bottom: 10rem;
    width: 65%;
}

.textwrapper .headertext h1{
    font-weight: 200;
}

.subtext h2{
    font-size: calc(100vw / 70);
    margin-top: 3.5rem;
    line-height: 1.5rem;
    float: left;
}

.subtext p1{
    font-size: calc(100vw / 150);
    line-height: 1rem;
}

.subtext2{
    float:left;
    padding-left: 10rem;
}

.subtext3{
    float:left;
    clear:both;
}

.subtext4{
    float:left;
    padding-left: 10rem;
}

.subtext5{
    clear:both;
    padding-top: 6rem;
}

.subtext5 p1{
    font-size: 1rem;
}

.bottomwrap{
    position:relative;
    min-height: 50rem;
    background-color: white;
    clear:both;
    color: black;
}

.bottomwrap h2{
    font-family: 'Open Sans';
    font-size: 5rem;
    font-weight: 200;
    text-align: center;
    padding-top: 6rem;
}

.bottomwrap .title .subtitle{
    font-family: 'Open Sans';
    line-height: 1.5rem;
    font-size: 1rem;
    text-align: center;
    padding-top: 1rem;
}

.owl-carousel {
    padding-top: 3vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: 20px;
}

.owl-carousel div p1{
    color: rgb(0, 0, 0);
    font-size: 1.3vw;
    font-family: "Open Sans";
    font-weight: 500;
    background-color: white;
    flex-shrink: 0;
    flex-grow: 1;
    width:100%;
    justify-content: center;
    align-items: center;
    padding-left: 1.5vw;
}

.owl-carousel .item{
    display:flex;
    flex-direction: column;
    align-items: center;
    background-image: url(assets/Image\ 24.png);

}

.flexitem p2{
    display:flex;
    flex-direction: column;
    color: rgb(0, 0, 0);
    font-size: .7vw;
    font-family: "Open Sans";
    font-weight: 200;
    background-color: white;
    padding: 0 10vw;
}

.button div{
    display:flex;
    justify-content: center;
    background-color: white;
    padding-bottom: 4vw;
}

.button div a{
    background-color: red;
    padding: 9px 25px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.button div a:hover{
    background-color: pink;
    font-size: 150%;
}